#desk{
	margin-left: 10%;
	width: 52%;
	margin-top: 2.5%;
}

#contactinfo{
	        font-weight: lighter;
    color: #767777;
        position: absolute;
    margin-top: -11.5%;
    margin-left: 65%;
}

.contact{
	font-size: 1em;
}