.imgcontainer0{
	width:54%;
	display:inline-block;
	 margin: 0% 1.2% 0.5% 0;
}

#lolo0{
	width:100%;
	display:inline-block;
}

.imgcontainer1{
	width:23.2%;
	display:inline-block;
	 margin: 0% 1.2% 0.5% 0;
}

#lolo1{
	width:100%;
	display:inline-block;
}

.imgcontainer2{
	width:52.2%;
	display:inline-block;
	 margin: 0% 1.2% 0.5% 0;

}

#lolo2{
	width:100%;
	display:inline-block;
}

.imgcontainer3{
width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo3{
	width:100%;
	display:inline-block;
}

.imgcontainer4{
	width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo4{
	width:100%;
	display:inline-block;
}

.imgcontainer5{
width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo5{
	width:100%;
	display:inline-block;
}

.imgcontainer6{
width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo6{
	width:100%;
	display:inline-block;
}

.imgcontainer7{
width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo7{
	width:100%;
	display:inline-block;
}

.imgcontainer8{
	width:52%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo8{
	width:100%;
	display:inline-block;
}
.imgcontainer9{
	width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo9{
	width:100%;
	display:inline-block;

}

.imgcontainer10{
width:23.2%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo10{
	width:100%;
	display:inline-block;
}

.imgcontainer11{
	width:52.1%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo11{
	width:100%;
	display:inline-block;
}

.imgcontainer12{
	width:52.1%;
	display:inline-block;
	 margin: 0% 1% 0.5% 0;

}

#lolo12{
	width:100%;
	display:inline-block;
}

