#projects {
    overflow: auto;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;

}

.portfoliopics {
    display: inline-block;
    width: 100%;
}

.imgcontainer{
	display: inline-block;
    white-space: nowrap;
    text-decoration: none;
	position: relative;
	width:35%;
	margin:0 1%;

}

#portfolioscroll {
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 3.5%;
}

#maisoncover{
	display: inline-block;
    width: 99%;
}


#bohocover{
	display: inline-block;
    width: 101%;
}

#cabanacover{
	    margin: 0 1.5%;
}

#haciendacover{
	margin: 0 0 0 2%;

}



#boho:hover{
	text-decoration: none;
}

#lolosbungalow:hover{
	text-decoration: none;
}

#cabana:hover{
	text-decoration: none;
}

#hacienda:hover{
	text-decoration: none;
}

#maison:hover{
	text-decoration: none;
}

.image .portfoliopics{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.imgcontainer:hover .image {
  opacity: 0.3;
}

.imgcontainer:hover .portfoliopics {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.coverpic {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}