.coverpic1 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:144%;
    margin-left: -24%;
}

.coverpic2 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:122%;
    margin-left: -6%;
}

.coverpic3 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:99%;
    margin-left: 6%;
}

.coverpic4 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:114%;
    margin-left: -1%;
}

.coverpic5 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:121%;
    margin-left: -14%;
}

.coverpic6 {
    color: white;
    font-size: 16px;
    padding: 16px 0px;
    width:121%;
    margin-left: -5%;
}

#californiacover {
    width: 100%;
}

#portfolioscroll {
    margin-top: 3.5%;
}

.imgcontainer {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    width: 33.4%;
    margin: 0% 1% 1% 0;
}

.imgcontainer2 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
       width: 30.35%;
    margin: 0% 1% 1% 0;
}

.imgcontainer3 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
        width: 30.6%;
    margin: 0% 1% 1% 0;
}

.imgcontainer4 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    width: 35.9%;
    margin: 0% 1% 1% 0;
}

.imgcontainer5 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
   width: 43.9%;
    margin: 0% 1% 1% 0;
}

.imgcontainer6 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
        width: 38.2%;
    margin: 0% 1% 1% 0;
}

.imgcontainer7 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    width: 36%;
    margin: 0% 1% 1% 0;
}

.imgcontainer8 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    width: 34.5%;
    margin: 0% 1% 1% 0;
}

.imgcontainer2:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer2:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer2:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer3:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer3:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer3:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer4:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer4:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer4:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer5:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer5:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer5:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer6:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer6:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer6:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer7:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer7:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer7:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

.imgcontainer8:hover .image {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer8:hover .portfoliopics {
    transition: .5s ease;
    opacity: 0.3;
}

.imgcontainer8:hover .middle {
    transition: .5s ease;
    opacity: 1;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .imgcontainer {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer1 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer2 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer3 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer4 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer5 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }

    .imgcontainer6 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }
    .imgcontainer7 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }
    .imgcontainer8 {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
        width: 100%;
        margin: 0% 0% 3.5% 0%;
    }






    #portfolioscroll {
        margin-left: 3.5%;
        margin-right: 3.5%;
        margin-top: 3.5%;
        overflow-x: hidden;
        overflow-y: hidden;
    }


    .image .portfoliopics {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }
    .imgcontainer .image {
        opacity: 0.3;
    }

    .imgcontainer .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer .middle {
        opacity: 1;
    }

    .imgcontainer1 .image {
        opacity: 0.3;
    }

    .imgcontainer1 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer1 .middle {
        opacity: 1;
    }


    .imgcontainer2 .image {
        opacity: 0.3;
    }

    .imgcontainer2 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer2 .middle {
        opacity: 1;
    }

    .imgcontainer3 .image {
        opacity: 0.3;
    }

    .imgcontainer3 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer3 .middle {
        opacity: 1;
    }

    .imgcontainer4 .image {
        opacity: 0.3;
    }

    .imgcontainer4 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer4 .middle {
        opacity: 1;
    }

    .imgcontainer5 .image {
        opacity: 0.3;
    }

    .imgcontainer5 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer5 .middle {
        opacity: 1;
    }

    .imgcontainer6 .image {
        opacity: 0.3;
    }

    .imgcontainer6 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer6 .middle {
        opacity: 1;
    }

    .imgcontainer7 .image {
        opacity: 0.3;
    }

    .imgcontainer7 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer7 .middle {
        opacity: 1;
    }

    .imgcontainer8 .image {
        opacity: 0.3;
    }

    .imgcontainer8 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer8 .middle {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {


    .image .portfoliopics {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }
    .imgcontainer .image {
        opacity: 0.3;
    }

    .imgcontainer .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer .middle {
        opacity: 1;
    }

    .imgcontainer1 .image {
        opacity: 0.3;
    }

    .imgcontainer1 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer1 .middle {
        opacity: 1;
    }


    .imgcontainer2 .image {
        opacity: 0.3;
    }

    .imgcontainer2 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer2 .middle {
        opacity: 1;
    }

    .imgcontainer3 .image {
        opacity: 0.3;
    }

    .imgcontainer3 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer3 .middle {
        opacity: 1;
    }

    .imgcontainer4 .image {
        opacity: 0.3;
    }

    .imgcontainer4 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer4 .middle {
        opacity: 1;
    }

    .imgcontainer5 .image {
        opacity: 0.3;
    }

    .imgcontainer5 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer5 .middle {
        opacity: 1;
    }

    .imgcontainer6 .image {
        opacity: 0.3;
    }

    .imgcontainer6 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer6 .middle {
        opacity: 1;
    }

    .imgcontainer7 .image {
        opacity: 0.3;
    }

    .imgcontainer7 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer7 .middle {
        opacity: 1;
    }

    .imgcontainer8 .image {
        opacity: 0.3;
    }

    .imgcontainer8 .portfoliopics {
        opacity: 0.3;
    }

    .imgcontainer8 .middle {
        opacity: 1;
    }
}