                 .californiahomes {
                 width: 100%;
                 display: inline-block;
             }

             .cowboysindians {
                 width: 100%;
             }
             /*californiahomes*/

             #imgcontainer0 {
                 width: 33.8%;
                 display: inline-block;
                 margin: 0% 1.2% 1% 0;
                 cursor: pointer;
             }


             #imgcontainer1 {
                 width: 34.7%;
                 display: inline-block;
                 margin: 0% -0.7% 1% 0%;
                 cursor: pointer;
             }


             #imgcontainer2 {
                 width: 33.8%;
                 display: inline-block;
                 margin: 0% -1.5% 1% 0;
                 cursor: pointer;
             }


             #imgcontainer3 {
                 width: 35.7%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }


             #imgcontainer4 {
                 width: 33.1%;
                 display: inline-block;
                 margin: 0% 1% 0% 0;
                 cursor: pointer;
             }

             #imgcontainers0 {
                 width: 30.5%;
                 display: inline-block;
                 margin: 0% 1.4% 1% 23.2%;
                 cursor: pointer;
             }


             #imgcontainers1 {
                 width: 31.2%;
                 display: inline-block;
                 margin: 0% -0.7% 1% 0%;
                 cursor: pointer;
             }
             /*cowboysindians*/

             #imgcontainercb0 {
                 width: 31.4%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }


             #imgcontainercb1 {
                 width: 29.65%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainercb2 {
                 width: 29.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }


             #imgcontainercb3 {
                 width: 29.65%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainercb4 {
                 width: 29.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd0 {
                 width: 36.7%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd1 {
                 width: 25.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd2 {
                 width: 26.2%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd3 {
                 width: 25.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd4 {
                 width: 25.95%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd5 {
                 width: 25.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }
             /*everygirl*/

             #imgcontainereg0 {
                 width: 36.95%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }


             #imgcontainereg1 {
                 width: 27.3%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg2 {
                 width: 27.3%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg3 {
                 width: 27.4%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg4 {
                 width: 22.1%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg5 {
                 width: 22.3%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }

             #imgcontainereg6 {
                 width: 27.3%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }

             #imgcontainereg7 {
                     width: 22.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg8 {
                     width: 22.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg9 {
                    width: 45%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg10 {
                     width: 27.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg11 {
                 width: 50.2%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg12 {
                 width: 26.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg13 {
                     width: 26.9%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg14 {
                 width: 22.9%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }

             #imgcontainereg15 {
                     width: 26%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }
             /* -------------everygirl2--------------*/

             #imgcontainereg20 {
                     width: 30.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg21 {
                     width: 20.75%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg22 {
                     width: 20.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg23 {
                width: 20.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg24 {
                    width: 23.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg25 {
                width: 20.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg26 {
                     width: 20.4%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }

             #imgcontainereg27 {
                     width: 20.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg28 {
                    width: 22.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg29 {
                   width: 32.35%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg210 {
                   width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg211 {
                    width: 27.2%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg212 {
                   width: 22%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg213 {
                    width: 25.7%;

                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg214 {
                width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg215 {
                     width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg216 {
                     width: 22%;
                 display: inline-block;
                 margin: 0% 1% 0.5% 0;
                 cursor: pointer;
             }

             #imgcontainereg217 {
                    width: 20.65%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg218 {
                    width: 21.05%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainereg219 {
                    width: 22.3%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }
             /*------ glitter guide-------*/

             #imgcontainergg0 {
                   width: 21.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg1 {
                width: 20.4%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg2 {
               width: 18.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg3 {
                     width: 18.6%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg4 {
                    width: 20%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg5 {
                    width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg6 {
                    width: 27.1%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainergg7 {
                 width: 18.2%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }
             /*--------forbes---------*/

             #imgcontainerf0 {
                    width: 22.4%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerf1 {
                width: 30.4%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerf2 {
                    width: 29.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerf3 {
                    width: 18.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerf4 {
                    width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerf5 {
                    width: 40%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }


             #imgcontainerd20 {
                    width: 30%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

             #imgcontainerd21 {
                 width: 34.3%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd22 {
                 width: 26.3%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd23 {
                    width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd24 {
                      width: 32.2%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }
            
             #imgcontainerd25 {
                 width: 31.7%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd26 {
                width: 31.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd27 {
                      width: 31.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd28 {
               width: 30.5%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }
            
             #imgcontainerd29 {
                width: 44.8%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

              #imgcontainerd210 {
                    width: 27%;
                 display: inline-block;
                 margin: 0% 1% 1% 0;
                 cursor: pointer;
             }

        
             #projects {
                 margin-left: 0.4%;
                 margin-right: 0.7%;
             }

             #ninja-slider {
                 width: 100%;
                 background: white;
                 padding: 0;

                 margin: 0 auto;
                 overflow: hidden;
                 box-sizing: border-box;
             }


             #ninja-slider .fs-icon {
                 top: 6px;
                 right: 6px;
                 width: 60px;
                 height: 37px;
                 z-index: 2;
                 color: white;
                 opacity: 0;
                 -webkit-transition: opacity 0.8s;
                 transition: opacity 0.8s;
             }

             #ninja-slider .slider-inner:hover .fs-icon,
             #ninja-slider.fullscreen .fs-icon {
                 opacity: 1;
             }

             #ninja-slider .fs-icon::before {
                 content: "EXPAND";
                 display: block;
             }

             #ninja-slider.fullscreen .fs-icon::before {
                 display: block;
             }

             #ninja-slider .slider-inner {
                 /*max-width:700px;*/
                 margin: 0 auto;
                 /*center-aligned */
                 font-size: 0px;
                 position: relative;
                 box-sizing: border-box;
                 padding-bottom: 100px!important;
             }

             #ninja-slider.fullscreen .slider-inner {
                 width: 98%;
                 /* 100% will cause a big top gap issue in iPhone*/
                 max-width: 900px;
             }

             #ninja-slider ul {
                 position: relative;
                 list-style: none;
                 padding: 0;
                 box-sizing: border-box;

                 overflow: visible!important;
                 /*For showing captions outside the slider when transitionType is "fade". */
             }

             #ninja-slider li {

                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 position: absolute;
                 font-size: 12px;
                 list-style: none;
                 margin: 0;
                 padding: 0;
                 opacity: 0;
                 /*overflow:hidden;*/
                 /*Comment it out to show the caption*/
                 box-sizing: border-box;

                 margin-bottom: 100px!important;
             }

             #ninja-slider li.ns-show {
                 opacity: 1;
             }
             /* --------- slider image ------- */

             #ninja-slider .ns-img {
                 background-size: contain;
                 /*Note: If transitionType is zoom, it will be overridden to cover.*/
                 cursor: default;
                 display: block;
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 background-repeat: no-repeat;
                 background-position: center center;
                 margin-top: 5%;
             }
             /*---------- Captions -------------------*/

             #ninja-slider .caption {
                 position: absolute;
                 top: 98%;
                 padding: 0 40px;
                 margin: auto;
                 width: 100%;
                 text-align: center;
                 font-family: sans-serif;
                 font-size: 14px;
                 color: #ccc;
                 box-sizing: border-box;
             }
             /* ---------Arrow buttons ------- */
             /* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */

             #ninja-slider-pause-play {
                 display: none;
             }

             #ninja-slider-prev,
             #ninja-slider-next {
                 position: absolute;
                 display: inline-block;
                 width: 42px;
                 height: 56px;
                 line-height: 56px;
                 top: 40%;
                 /* not 50% as caption at bottom should be counted.*/
                 margin-top: -28px;
                 background-color: rgba(0, 0, 0, 0.4);
                 background-color: #ccc\9;
                 /*IE8 hack*/
                 backface-visibility: hidden;
                 color: white;
                 overflow: hidden;
                 white-space: nowrap;
                 -webkit-user-select: none;
                 user-select: none;
                 border-radius: 2px;
                 z-index: 10;
                 opacity: 0.3;
                 font-family: sans-serif;
                 font-size: 13px;
                 cursor: pointer;
                 -webkit-transition: all 0.7s;
                 transition: all 0.4s;
             }

             .slider-inner:hover #ninja-slider-prev,
             .slider-inner:hover #ninja-slider-next {
                 opacity: 1;
             }


             #ninja-slider-prev {
                 left: -42px;
                 /*set it with a positive value if .slider-inner does not have max-width setting.*/
             }

             #ninja-slider-next {
                 right: -42px;
             }
             /* arrows */

             #ninja-slider-prev::before,
             #ninja-slider-next::before {
                 position: absolute;
                 top: 17px;
                 content: "";
                 display: inline-block;
                 width: 20px;
                 height: 20px;
                 border-left: 2px solid white;
                 border-top: 2px solid white;
                 backface-visibility: hidden;
             }

             #ninja-slider-prev::before {
                 -ms-transform: rotate(-45deg);
                 /*IE 9*/
                 -webkit-transform: rotate(-45deg);
                 transform: rotate(-45deg);
                 left: 16px;
             }

             #ninja-slider-next::before {
                 -ms-transform: rotate(135deg);
                 /*IE 9*/
                 -webkit-transform: rotate(135deg);
                 transform: rotate(135deg);
                 right: 16px;
             }
             /*pagination num within the arrow buttons*/

             #ninja-slider-prev:hover,
             #ninja-slider-next:hover {
                 width: 80px;
                 background-color: rgba(0, 0, 0, 0.5);
             }

             #ninja-slider-prev div {
                 margin-right: 8px;
                 white-space: nowrap;
                 opacity: 0;
                 float: right;
             }

             #ninja-slider-next div {
                 margin-left: 8px;
                 white-space: nowrap;
                 opacity: 0;
                 float: left;
             }

             #ninja-slider-prev:hover div,
             #ninja-slider-next:hover div {
                 opacity: 1;
             }
             /*------ pager(nav bullets) ------*/
             /* The pager id should be: slider id + "-pager" */

             #ninja-slider-pager {
                 display: none;
             }

             #ninja-slider-prev,
             #ninja-slider-next,
             #ninja-slider-pause-play {
                 -webkit-touch-callout: none;
                 -webkit-user-select: none;
                 user-select: none;
             }
             /*Responsive settings*/

             @media only screen and (max-width:1050px) {

                 #ninja-slider-prev {
                     left: 0;
                 }

                 #ninja-slider-next {
                     right: 0;
                 }
             }

             @media only screen and (max-width:600px) {

                 #ninja-slider-prev,
                 #ninja-slider-next,
                 #ninja-slider-pager {
                     display: none;
                 }


                 #ninja-slider li .cap1 {
                     font-size: 20px;
                 }
             }


             ul li {
                 padding: 10px 0;
             }
             /*header {
    display: block;
    padding: 60px 0 10px;
    background-color: #191919;
    text-align: center;
}*/

             header a {
                 font-family: sans-serif;
                 font-size: 24px;
                 line-height: 24px;
                 padding: 8px 13px 7px;
                 color: #4d5256;
                 text-decoration: none;
                 transition: color 0.7s;
             }

             header a.active {
                 font-weight: bold;
                 width: 24px;
                 height: 24px;
                 padding: 4px;
                 text-align: center;
                 display: inline-block;
                 border-radius: 50%;
                 background: #4d5256;
                 color: #191919;
             }

             .gallery img {
                 width: 179px;
                 cursor: pointer;
             }

             .x {
                 margin-top: 31%;
                 margin-right: 26%;
             }



             @media only screen and (max-width: 768px) and (orientation: portrait) {


                 #imgcontainer0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainer1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainer2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainer3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainer4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainers0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainers1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }
                 #imgcontainercb0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainercb1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainercb2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainercb3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainercb4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerd5 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }


                 #imgcontainereg1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg5 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg6 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg7 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg8 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg9 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg10 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg11 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg12 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg13 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg14 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg15 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }
                 /* -------------everygirl2--------------*/
                 #imgcontainereg20 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg21 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg22 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg23 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg24 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg25 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg26 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg27 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg28 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg29 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg210 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg211 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg212 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg213 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg214 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg215 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg216 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg217 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg218 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainereg219 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }
                 /*------ glitter guide-------*/
                 #imgcontainergg0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg5 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg6 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainergg7 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }
                 /*--------forbes---------*/
                 #imgcontainerf0 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerf1 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerf2 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerf3 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerf4 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                 #imgcontainerf5 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

 #imgcontainerd20 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

 #imgcontainerd21 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd22 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

 #imgcontainerd23 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd24 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd25 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd26 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd27 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd28 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd29 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }

                  #imgcontainerd210 {
                     width: 100%;
                     display: block;
                     margin: 0% 0% 3.5% 0%;
                     cursor: pointer;
                 }
                 #ninja-slider {
                     display: none;
                 }
             }

             @media only screen and (max-width: 768px) and (orientation: landscape) {
                 #ninja-slider {
                     display: none;
                 }