.zoom {
    zoom: 150%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

#photographers {
    font-size: 10px;
}

#copyrightlolosshop {
    float: left;
    margin-left: 40px;
    margin-top: 8%;
    ;
    font-weight: lighter;
    color: #767777;
}

#socialmedialolosshop {
    float: right;
    margin-right: 40px;
    margin-top: 7.7%;
}

#button {
    width: 25px;
    margin-bottom: -6.8%;
    margin-left: 1%;
}


#shop {
    margin-left: 23%;
}



#copyright2 {
    float: left;
    margin-left: 40px;
    margin-top: 2.3%;
    font-weight: lighter;
    color: #767777;
}



#socialmedia2 {
    float: right;
    margin-right: 40px;
    margin-top: 2%;
}

#copyrightbung {
    float: left;
    margin-left: 40px;
    margin-top: 2.4%;
    font-weight: lighter;
    color: #767777;
}

#socialmediabung {
    float: right;
    margin-right: 40px;
    margin-top: 2.1%;
}

#copyrightmaison {
    float: left;
    margin-left: 40px;
    margin-top: 2.1%;
    font-weight: lighter;
    color: #767777;
}

#socialmediamaison {
    float: right;
    margin-right: 40px;
    margin-top: 1.8%;
}

#socialmediaboho {
    float: right;
    margin-right: 40px;
    margin-top: 2.05%;
}

#copyrightboho {
    float: left;
    margin-left: 40px;
    margin-top: 2.35%;
    font-weight: lighter;
    color: #767777;
}

#socialmediacabana {
    float: right;
    margin-right: 40px;
    margin-top: 2.1%;
}

#copyrightcabana {
    float: left;
    margin-left: 40px;
    margin-top: 2.4%;
    font-weight: lighter;
    color: #767777;
}

#socialmediasf {
    float: right;
    margin-right: 40px;
    margin-top: 2.05%;
}

#copyrightsf {
    float: left;
    margin-left: 40px;
    margin-top: 2.35%;
    font-weight: lighter;
    color: #767777;
}



#socialmedia3 {
    float: right;
    margin-right: 40px;
    margin-top: .7%;
}

#copyright3 {
    float: left;
    margin-left: 40px;
    margin-top: 1%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia4 {
    float: right;
    margin-right: 40px;
    margin-top: 3.7%;
}

#copyright4 {
    float: left;
    margin-left: 40px;
    margin-top: 4%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia5 {
    float: right;
    margin-right: 40px;
    margin-top: 45.2%;
}

#copyright5 {
    float: left;
    margin-left: 40px;
    margin-top: 45.5%;
    font-weight: lighter;
    color: #767777;
}

#copyright6 {
    float: left;
    margin-left: 40px;
    margin-top: 2.45%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia6 {
    float: right;
    margin-right: 40px;
    margin-top: 2.15%;
}

#copyright6-1 {
    float: left;
    margin-left: 40px;
    margin-top: 2.4%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia6-1 {
    float: right;
    margin-right: 40px;
    margin-top: 2.1%;
}

#copyright7 {
    float: left;
    margin-left: 40px;
    margin-top: 2.9%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia7 {
    float: right;
    margin-right: 40px;
    margin-top: 2.6%;
}

#copyright8 {
    float: left;
    margin-left: 40px;
    margin-top: 2.4%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia8 {
    float: right;
    margin-right: 40px;
    margin-top: 2.1%;
}

#copyright9 {
    float: left;
    margin-left: 40px;
    margin-top: 2.3%;
    font-weight: lighter;
    color: #767777;
}

#socialmedia9 {
    float: right;
    margin-right: 40px;
    margin-top: 2%;
}

#copyrighteg {
    float: left;
    margin-left: 40px;
    margin-top: 2.3%;
    font-weight: lighter;
    color: #767777;
}

#socialmediaeg {
    float: right;
    margin-right: 40px;
    margin-top: 2%;
}

#copyrighteg2 {
    float: left;
    margin-left: 40px;
    margin-top: 2.1%;
    font-weight: lighter;
    color: #767777;
}

#socialmediaeg2 {
    float: right;
    margin-right: 40px;
    margin-top: 1.8%;
}

#copyrightgg {
    float: left;
    margin-left: 40px;
    margin-top: 2.35%;
    font-weight: lighter;
    color: #767777;
}

#socialmediagg {
    float: right;
    margin-right: 40px;
    margin-top: 2.05%;
}

#copyrightf {
    float: left;
    margin-left: 40px;
    margin-top: 1.95%;
    font-weight: lighter;
    color: #767777;
}

#socialmediaf {
    float: right;
    margin-right: 40px;
    margin-top: 1.65%;
}



#aboutlolo {
    margin-top: 11%;
    width: 96.5%;
}

#laurentext {
    margin-top: 4%;
    font-size: 1.18em;
    line-height: 3.5;
    color: #767777;
    letter-spacing: 2px;
    margin-left: -1.7%;
}


footer {

    background-color: white;
    z-index: 12;
}


.icon {
    display: inline-block;
    margin: 0px 4px;
}

#homeimages {
    margin-top: 3.5%;
    margin-left: 8.5%;
    width: 83%;
    position: absolute;
    display: block;
    z-index: 10;
}

#homeimages2 {
    margin-top: 3.5%;
    margin-left: 8.5%;
    width: 83%;
    position: absolute;
    display: block;
}

#homediv {
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: content;
    vertical-align: middle;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.menu {
    width: 5%;
}

.options {
    margin-top: 2%;
    margin-bottom: 2%;
}

header {
    border-bottom: 1px solid #E1E0E1;
    margin-left: 43px;
    margin-right: 43px;
    height: 63px;
}

.lch {
    padding-top: 0.65%;
    padding-left: 13px;
    width: 85%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

.lch1 {
    padding-top: 0.46%;
    padding-left: 6px;
    width: 75%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-left: -1%;
}

.lch2 {
    padding-top: 0.46%;
    padding-left: 6px;
    width: 75%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-left: -1%;
}

.lch3 {
    padding-top: 0.46%;
    padding-left: 6px;
    width: 75%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-left: -1%;
}

.lch4 {
    padding-top: 0.46%;
    padding-left: 6px;
    width: 75%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-left: -1%;
}

.lch5 {
    padding-top: 0.46%;
    padding-left: 6px;
    width: 75%;
    max-width: 1175px;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin-left: -1%;
}

h1 {
    margin: 0;
}

.lolo {
    padding-top: 0.4%;
    position: relative;
    width: 14%;
    max-width: 100%;
    min-width: 20%;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 11;
    font-size: 36px;
    background-color: #ffffff;
    opacity: 0.8;
    transition: 0.5s;
}

a:visited {
    text-decoration: none;
    color: black;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-weight: lighter;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

#d3 {
    display: none;
    margin-top: 12%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


#lolosshop {

    width: 50%;
    margin-top: 0%;
    margin-left: 25%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    #aboutlolo {
        margin-top: 11%;
        width: 90%;
    }
    #laurentext {
        margin-top: 6%;
        font-size: 0.8em;
        line-height: 4;
        color: #767777;
        letter-spacing: 2px;
        /*    margin-left: 0.5%;*/
    }
}

@media only screen and (max-width: 985px) and (orientation: landscape) {
    #aboutlolo {
        margin-top: 11%;
        width: 120%;
    }
    #laurentext {
        margin-top: 6%;
        font-size: 0.8em;
        line-height: 3;
        color: #767777;
        letter-spacing: 2px;
        /*    margin-left: 0.5%;*/
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .lch {
        margin-top: 2.3px;
        margin-left: 40px;
        position: relative;
        width: 100%;
    }

    .lch1 {
        margin-top: -0.2px;
        margin-left: 27px;
        position: relative;
        width: 84%;
    }

    .lch2 {
        margin-top: -0.2px;
        margin-left: 27px;
        position: relative;
        width: 84%;
    }

    .lch3 {
        margin-top: -0.2px;
        margin-left: 27px;
        position: relative;
        width: 84%;
    }

    .lch4 {
        margin-top: -0.2px;
        margin-left: 27px;
        position: relative;
        width: 84%;
    }

    .lch5 {
        margin-top: -0.1px;
        margin-left: 27px;
        position: relative;
        width: 84%;
    }


    #laurenlogo {
        width: 85%;
    }

    #button {
        margin-left: 20px;
        margin-top: 2px;
    }
    header {
        padding-bottom: 15px;
        border-bottom: 1px solid #E1E0E1;
        height: 55px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .lolo {
        width: 0px;
        margin-left: 0px;
        display: none;
    }

    #homeimages {
        margin-top: 50px;
        margin-left: 13.2%;
        width: 74%;
        position: relative;
        display: block;
        z-index: 10;
    }

    #homeimages2 {
        margin-top: 30px;
        margin-left: 13.2%;
        width: 74%;
        position: relative;
        display: block;
    }

    #socialmedia5 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright5 {
        float: none;
        text-align: center;
        margin-top: 50px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmedia8 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright8 {
        float: none;
        text-align: center;
        margin-top: 50px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }
    #socialmedia9 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright9 {
        float: none;
        text-align: center;
        margin-top: 50px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }




    #socialmedia3 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright3 {
        float: none;
        text-align: center;
        margin-top: 50px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }


    #socialmedia2 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright2 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }
    #socialmedia6 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright6 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmedia7 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright7 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }
    #socialmedia6-1 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright6-1 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }
    #socialmediabung {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightbung {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediaboho {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightboho {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediacabana {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightcabana {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediasf {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightsf {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediaeg {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrighteg {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }


    #socialmedia4 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright4 {
        float: none;
        text-align: center;
        margin-top: 30px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }
    #socialmediaeg2 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrighteg2 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediagg {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightgg {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmediaf {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyrightf {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }

    #socialmedia2 {
        margin-top: 20px;
        float: center;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #copyright2 {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-weight: lighter;
        color: #767777;
        margin-left: 0px;
        margin-right: 0px;
    }



    footer {

        background-color: white;
        width: 100%;
        position: relative;
        margin-bottom: 3.5%;
    }

    .sidenav {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 11;
        font-size: 36px;
        background-color: #ffffff;
        opacity: 0.9;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 0px;
        padding-bottom: 18px;
        margin-left: -3%;
        margin-top: -3%;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        color: #000000;
        display: block;
        transition: 0.3s;
        font-weight: lighter;
    }
    #aboutlolo {
        margin-top: 2%;
        width: 100%;
    }
    #laurentext {
        margin-top: 2%;
        font-size: 1em;
        line-height: 2;
        color: #767777;
        letter-spacing: 2px;
        margin-left: 1%;
        margin-right: 1%;
        /*    margin-left: 0.5%;*/
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .sidenav {
        height: 100%;
        width: 20%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 11;
        font-size: 8px;
        background-color: #ffffff;
        opacity: 0.9;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 0px;
        padding-bottom: 18px;
        margin-top: -3%;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        color: #000000;
        display: block;
        transition: 0.3s;
        font-weight: lighter;
        text-align: left;
    }


    #aboutlolo {
        display: inline-block;
        float:right;
        width:100%;
        margin-top: 1%;
    }

    #laurentext {        /*width:45%;*/
        display: inline-block;
        font-size: 0.5em;
        line-height: 4;
        color: #767777;
        letter-spacing: 2px;
        margin-left: 4%;
        margin-right: 3%;
        margin-top: 2%;
    }

}
